<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <div class="center">
    <h1>Create Id </h1>
    <form method="POST" action="/login">
      <div class="txt_field">
        <input type="text" name="user name" required>
        <span></span>
        <label>User Name</label>
      </div>
      <div class="txt_field">
        <input type="number" name="pass" required>
        <span></span>
        <label>Phone number</label>
      </div>
      <div class="txt_field">
        <input type="number" name="pass" required>
        <span></span>
        <label>Age</label>
      </div>
      <div class="txt_field">
        <input type="text" name="pass" required>
        <span></span>
        <label>Gender</label>
      </div>
      <div class="txt_field">
        <input type="text" name="pass" required>
        <span></span>
        <label>weight</label>
      </div>
      <div class="txt_field">
        <input type="text" name="pass" required>
        <span></span>
        <label>Email id</label>
      </div>
      <input type="submit">
      <div class="signup_link">

      </div>
    </form>
  </div>

  <%- include('partials/footer') %>