<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <div class="center">
    <h1>Create Id </h1>
    <form method="POST" action="/register">
      <div class="txt_field">
        <input type="text" name="name" required>
        <span></span>
        <label>Name</label>
      </div>
      <div class="txt_field">
        <input type="email" name="email" required>
        <span></span>
        <label>Email</label>
      </div>
      <div class="txt_field">
        <input type="password" name="pass" required>
        <span></span>
        <label>Password</label>
      </div>
      <div class="txt_field">
        <input type="text" name="num" required>
        <span></span>
        <label>Phone number</label>
      </div>
      <div class="txt_field">
        <input type="text" name="ad" required>
        <span></span>
        <label>Address</label>
      </div>
      <div class="txt_field">
        <input type="number" name="age" required>
        <span></span>
        <label>Age</label>
      </div>
      <div class="txt_field">
        <input type="text" name="gen" required>
        <span></span>
        <label>Gender</label>
      </div>
      <div class="txt_field">
        <input type="text" name="weight" required>
        <span></span>
        <label>weight</label>
      </div>
      <input type="submit">
      <div class="signup_link">

      </div>
    </form>
  </div>

</body>

</html>