<%- include('partials/header') %>

    <nav class="navbar">
        <div class="brand">
            <a href="#">MEDDOC</a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/service">insurance</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/contact">Login</a></li>
        </ul>
    </nav>

    <div class="hero-section">
        <div>
            <h1 class="heading-hero">MEDDOC</h1>
            <p>Heal your soul</p>
        </div>
    </div>

    <div class="register-section">
        <div>
            <h1 class="heading1"> Register Your Self! </h1>
            <form action="" method="post">
                <br>
                <input type="submit" value="secure my life" class="button">
            </form>
        </div>
    </div>
    <hr>
    <div class="about-section">
        <div class="about-section1">
            <div>
                <h1>We've Got What You Need</h1>
                <hr>
                <br>
                <p>
                    We provide a platform where we effectively utilize health care resources including doctors to
                    provide a
                    simple and
                    efficient way of diagnosis. We offer a Universal Medical card which is NFC integrated, as the
                    name
                    suggested this card
                    will contain all your past medical history that is there is no need of time to time renewal of
                    your
                    medical card. We
                    will be also providing diagnostic centers for our customers where they will be able to take a
                    regular
                    health checkup .
                </p>
            </div>
        </div>
    </div>
    <div class="service">
        <div>
            <h1>Our service</h1>
            <div class="servicelist">
                <div>
                    <h2>Medical insurance</h2>
                    <p>kjhgrgnrighfsgnashgksniosjgnsvbdf9uefhnsnbvflkjghfnsdoifkjfnojknkljcvbuofuewiouj</p>
                </div>
                <div>
                    <h2>Delivery</h2>
                    <p>kjhgrgnrighfsgnashgksniosjgnsvbdf9uefhnsnbvflkjghfnsdoifkjfnojknkljcvbuofuewiouj</p>
                </div>
                <div>
                    <h2>e-Prescription</h2>
                    <p>kjhgrgnrighfsgnashgksniosjgnsvbdf9uefhnsnbvflkjghfnsdoifkjfnojknkljcvbuofuewiouj</p>
                </div>
                <div>
                    <h2>REgular checkup</h2>
                    <p>kjhgrgnrighfsgnashgksniosjgnsvbdf9uefhnsnbvflkjghfnsdoifkjfnojknkljcvbuofuewiouj</p>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>